header {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
margin-top: 120px;;
  width: 100%;
  background-color: #30937ede;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.header-name h2{
  color: #fff;
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */