/* App css for header tag */

header {
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  margin-top: 120px;
  width: 100%;
  background-color: #30937ede;
}

.header-name h2 {
  color: #fff;
  font-weight: 500;
}