/* CSS for new tweet textrea and button */
.new-tweet {
  width: 100%;
}

#tweet-text {
  width: 100%;
  padding: 50px 0 0 0;
  border-width: 0 0 5px 0;
  border-style: solid dotted inset double;
  border-color: 000000;
  background: inherit;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
  font-size: large;
}

.new-tweet-button {
  padding: 5px 20px;
  background-color: #30937e;
  border: navajowhite;
  border-radius: 2px;
  margin-top: 10px;
  font-family: 'Bungee', cursive;
  color: white;
}